create_hcl.ps1
vCSA_with_cluster_on_ESXi.json
binaries/VMware-VCSA-all-8.0.3-24022515.iso
binaries/VMware-VMvisor-Installer-8.0U3b-24280767.x86_64.iso
binaries/VMware-vSAN-ESA-Witness-8.0U3-24022510.ova
json/all.json
json/modified_vCSA_with_cluster_on_ESXi.json
logs/robo.log
